:root {
  --primary-color-500: #34cb79;
  --primary-color-400: #2fb86e;
  --desaturado: #e1faec;
  --title-color: #322153;
  --textos: #6c6c80;
  --textos-suporte: #a0a0b2;
  --white: #fff;
  --background: #f0f0f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  color: var(--title-color);
}
